<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <system.serviceModel>

      <client>
        <endpoint address="http://localhost:9999/Clinic" binding="basicHttpBinding"
            bindingConfiguration="" contract="ClinicInterfaces.IWCFSecretaryInterface"
            name="Secretary" kind="" endpointConfiguration="" />
      
       <endpoint address="http://localhost:9999/Clinic" binding="basicHttpBinding"
                bindingConfiguration="" contract="ClinicInterface.IWCFClinicService"
                name="ClinicService" kind="" endpointConfiguration="" />

        <endpoint address="http://localhost:9999/Clinic" binding="basicHttpBinding"
                bindingConfiguration="" contract="ClinicInterfaces.Contracts.IWCFAdminInterface"
                name="Admin" kind="" endpointConfiguration="" />
        
        <endpoint address="http://localhost:9999/Clinic" binding="basicHttpBinding"
                bindingConfiguration="" contract="ClinicInterfaces.Contracts.IWCFDoctorInterface"
                name="Doctor" kind="" endpointConfiguration="" />
        
      </client>
      
    </system.serviceModel>
  
</configuration>